# Dependencies
node_modules/
.pnpm-store/

# Next.js specific
/.next/
/out/
/build/
/.open-next/
/.wrangler/

# Testing
/coverage/

# Vercel
/.vercel/

#backup
*.tar.gz
*.zip

#pnpm cache
/.pnpm-store

#scripts
/scripts/